{% extends "base.html" %}
{% block content %}

<div class="text-center">
    <img src="https://as2.ftcdn.net/v2/jpg/04/97/93/93/1000_F_497939388_hXEsWVzGQ06XFbFb7kNM1cluzjxSjTQP.jpg"
         class="rounded"
         alt="https://as2.ftcdn.net/v2/jpg/04/97/93/93/1000_F_497939388_hXEsWVzGQ06XFbFb7kNM1cluzjxSjTQP.jpg">
</div>
<br>


  <br>
  <p> +995 123 45 67 89</p>
  <p> +995 012 34 56 78</p>
  <p> Facebook: animatorebi gamodzaxebit / ანიმატორები გამოძახებით</p>
  <p> Instagram: animatorebi gamodzaxebit / ანიმატორები გამოძახებით</p>

{% endblock %}