{% extends "base.html" %}
{% block content %}

<div class="text-center">
    <img src="https://as2.ftcdn.net/v2/jpg/04/97/93/93/1000_F_497939388_hXEsWVzGQ06XFbFb7kNM1cluzjxSjTQP.jpg"
         class="rounded"
         alt="https://as2.ftcdn.net/v2/jpg/04/97/93/93/1000_F_497939388_hXEsWVzGQ06XFbFb7kNM1cluzjxSjTQP.jpg">
</div>
<br>
<h6 class="mid">საქართველოს მასშტაბით ბევრ მშობელს არ აქვს შესაძლებლობა მარტივად,
მოკლე დროში გამოიძახოს ანიმატორი და მასთან თანმხლები მულტფილმის
გმირი. ეს ვებგვერდი სწორედ ამ პრობლემის გადაჭრას ემსახურება.
<br> <br>
🥳🎊მხიარულება და ჯადოსნური ამბები ანიმაციურ გმირებთან ერთად!<br>
🎉🎉 ენერგიული და მხიარული ანიმატორები მუდამ მზად არიან გასართობი შოუ- პროგრამების ჩასატარებლად; ანდეთ თქვენი პატარების მნიშვნელოვანი დღეები ნამდვილ პროფესიონალებს!<br>
 ჩვენს მომსახურებაში შედის:👇<br>
🎊ბავშვებზე მორგებული გასართობი შოუ პროგრამები;<br>
🎎ანიმაციური გმირების მრავალფეროვანი არჩევანი;<br>
📸პროფესიონალური ფოტო-ვიდეო გადაღება;<br>
🎉წვეულებების გაფორმება-დეკორაციები;<br>
🎶მუსიკალური აპარატურა;<br>
🧪ქიმიური შოუ პროგრამები;<br>
🃏პროფესიონალური ილუზიონისტი;<br>
🧼საპნის ბუშტების შოუ;<br>
❄️მშრალი ყინულის შოუ;<br>
🎪თოჯინების თეატრი;<br>
💥წითელი ხალიჩა და ცეცხლოვანი შადრევანი;<br>
🎂ტორტის ჩაქრობისა და ვარსკვლავის გახსნის ცერემონიალი;</h6>

{% endblock %}